@import "../../assets/scss/varabels.scss";
.chart {
    background: $dark-color;
    width: 372px;
    height: 333px !important;
    position: relative;
}

.recharts-default-legend {
    text-align: right;
    margin-left: 280px !important;
}
